In [24]:
import numpy as np
np.random.seed(12345)
np.set_printoptions(precision=4, suppress=True)

In [25]:
import numpy as np
data = [np.random.standard_normal() for i in range(7)] #리스트 표기법
data

[-0.20470765948471295,
 0.47894333805754824,
 -0.5194387150567381,
 -0.55573030434749,
 1.9657805725027142,
 1.3934058329729904,
 0.09290787674371767]

In [34]:
import numpy as np
data = []
for i in range(7):
    data = np.random.standard_normal()
    print(data)

0.4769850104122995
3.248943919430755
-1.0212275243555968
-0.5770873030407672
0.12412127567340774
0.3026135619125114
0.5237720681504165

In [3]:
a = [1, 2, 3]
print(type(a))

<class 'list'>

In [3]:
a = [1, 2, 3]

In [4]:
b = a
b

In [5]:
a.append(4)
b

In [10]:
def append_element(some_list, element): #위치 인자
    some_list.append(element)

In [15]:
data = [1, 2, 3]
append_element(data, 4) #호출
data

[1, 2, 3, 4]

# #type(): 파이썬 자료형 확인

In [22]:
a = 5
print(type(a))
a = "foo"
print(type(a))

<class 'int'>
<class 'str'>

In [21]:
"5" + 5 # 자동 형변환 불가능

TypeError: can only concatenate str (not "int") to str

In [27]:
# 자동 형변환 가능
a = 4.5
b = 2
# String formatting, to be visited later
print(f"a is {type(a)}, b is {type(b)}")
print(a / b)

a is <class 'float'>, b is <class 'int'>
2.25

# isinstance():객체의 자료 타입 확인

In [28]:
a = 5
isinstance(a, int)

True

In [31]:
a = 5
b = 4.5
print(isinstance(a, (int, float)))
print(isinstance(b, (int, float)))

True
True

# iterator 객체 확인 : iter()

In [13]:
a = "foo"

In [14]:
getattr(a, "split")

In [36]:
def isiterable(obj):
    try:
        iter(obj)
        return True
    except TypeError: # not iterable
        return False

In [37]:
print(isiterable("a string"))
print(isiterable([1, 2, 3]))
print(isiterable(5))

True
True
False

In [17]:
5 - 7
12 + 21.5
5 <= 2

# #is & is not
* is : 두 객체간 동일 확인
* is not : 상이한 객체 확인

In [39]:
a = [1, 2, 3]
b = a
c = list(a) #리스트 형변환 : 새로운 객체
print(a is b)
print(a is not c)

True
True

In [19]:
a == c

# # None : null 객체

In [40]:
a = None
a is None

True

# # list 자료형 : 인덱싱 & 슬라이싱
* 수정, 삭제, 추가 기능

In [21]:
a_list = ["foo", 2, [4, 5]]
a_list[2] = (3, 4) # 데이터 수정
a_list

# #tuple 자료형 : immutable 자료형

In [41]:
a_tuple = (3, 5, (4, 5))
a_tuple[1] = "four"

TypeError: 'tuple' object does not support item assignment

In [42]:
ival = 17239871
ival ** 6

26254519291092456596965462913230729701102721

In [43]:
fval = 7.243
fval2 = 6.78e-5

In [44]:
3 / 2

1.5

In [45]:
3 // 2

1

# # 문자열 : immutable
* indexing : 변수명[위치]
* slicing : 변수명[start:end:sep]

In [52]:
c = """
This is a longer string that
spans multiple lines
"""
print(type(c))

<class 'str'>

In [53]:
c.count("\n") # 반복횟수

3

In [56]:
a = "this is a string"
a[10]
a[10] = "f"

TypeError: 'str' object does not support item assignment

In [57]:
b = a.replace("string", "longer string") # 문자열 수정 : replace() -> 새로운 문자열 생성
b

'this is a longer string'

In [58]:
a

'this is a string'

In [32]:
a = 5.6
s = str(a)
print(s)

In [60]:
s = "python"
list(s) #['p'.'y','t','h','o','n']
s[:3] #slicing s[0:3:1]

'pyt'

In [61]:
s = "12\\34"
print(s)

12\34

In [62]:
s = r"this\has\no\special\characters"
s

'this\\has\\no\\special\\characters'

# # 문자열 연산 : +,*

In [63]:
a = "this is the first half "
b = "and this is the second half"
a + b

'this is the first half and this is the second half'

In [66]:
template = "{0:.2f} {1:s} are worth US${2:d}"
template.format(4.256, "python", 100)

'4.26 python are worth US$100'

In [38]:
template.format(88.46, "Argentine Pesos", 1)

In [67]:
amount = 10
rate = 88.46
currency = "Pesos"
result = f"{amount} {currency} is worth US${amount / rate}"
print(result)
f"{amount} {currency} is worth US${amount / rate:.2f}"

10 Pesos is worth US$0.11304544426859599

'10 Pesos is worth US$0.11'

In [41]:
val = "español"
val

In [42]:
val_utf8 = val.encode("utf-8")
val_utf8
type(val_utf8)

In [43]:
val_utf8.decode("utf-8")

In [44]:
val.encode("latin1")
val.encode("utf-16")
val.encode("utf-16le")

In [45]:
True and True
False or True

In [46]:
int(False)
int(True)

In [47]:
a = True
b = False
not a
not b

In [48]:
s = "3.14159"
fval = float(s)
type(fval)
int(fval)
bool(fval)
bool(0)

In [49]:
a = None
a is None
b = 5
b is not None

# # 시간, 날짜 데이터 타입 : datetime

In [69]:
from datetime import datetime, date, time
dt = datetime(2011, 10, 29, 20, 30, 21)
print(dt)
print(dt.day)
print(dt.minute)

2011-10-29 20:30:21
29
30

In [70]:
dt.date()
dt.time()

datetime.time(20, 30, 21)

In [52]:
dt.strftime("%Y-%m-%d %H:%M")

In [53]:
datetime.strptime("20091031", "%Y%m%d")

In [54]:
dt_hour = dt.replace(minute=0, second=0)
dt_hour

# # Timedelta : 
* 두 날짜 또는 시간 간의 차이, 즉 기간을 표현함
* 두개의 datetime 컬럼(즉, 출발시간 - 도착시간) 연산 시, Timedelta 객체로 자동 변환

In [71]:
dt

datetime.datetime(2011, 10, 29, 20, 30, 21)

In [72]:
dt2 = datetime(2011, 11, 15, 22, 30)
delta = dt2 - dt
delta
type(delta)

datetime.timedelta

In [57]:
dt
dt + delta

In [73]:
a = 5; b = 7
c = 8; d = 4
if a < b or c > d:
    print("Made it")

Made it

In [74]:
4 > 3 > 2 > 1

True

In [75]:
for i in range(4):
    for j in range(4):
        if j > i:
            break
        print((i, j))

(0, 0)
(1, 0)
(1, 1)
(2, 0)
(2, 1)
(2, 2)
(3, 0)
(3, 1)
(3, 2)
(3, 3)

In [61]:
range(10)
list(range(10))

In [62]:
list(range(0, 20, 2))
list(range(5, 0, -1))

In [63]:
seq = [1, 2, 3, 4]
for i in range(len(seq)):
    print(f"element {i}: {seq[i]}")

In [64]:
total = 0
for i in range(100_000):
    # % is the modulo operator
    if i % 3 == 0 or i % 5 == 0:
        total += i
print(total)

** 문제2: 다음 텍스트(text) 안에 특정 문자열("let")의 존재 여부 검사하기

*text = "Don't them in, don't let them see"

In [77]:
text = "Don't them in, don't let them see"
if "let" in text:
    print("Found.")
else: 
    print("Not Found.")

Found.